// Flex Responsive
.flex-comp-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
}

.flex-comp-item {
}

.person-grid-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.person-card-item {
  cursor: pointer;
  flex-basis: 350px;
  height: 120px;
  margin-top: 20px;
  mat-card-title {
    text-align: left;
  }
}

.person-avatar {
  width: 100px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
}

.right {
    display: flex;
    flex-direction: row-reverse;
    padding: 15px;
}
