<mat-form-field *ngIf="type != 'editor'">
  <mat-icon *ngIf="icon != ''" matPrefix
    ><i class="material-icons md-dark">{{ icon }}</i></mat-icon
  >
  <input
    *ngIf="type !== 'textarea' && type != 'editor'"
    matInput
    placeholder="{{ placeholder }}"
    [(ngModel)]="value"
    [attr.type]="type"
    (blur)="onBlur()"
  />
  <textarea
    *ngIf="type === 'textarea'"
    matInput
    rows="{{ rows }}"
    placeholder="{{ placeholder }}"
    [(ngModel)]="value"
    [attr.type]="type"
    (blur)="onBlur()"
  ></textarea>
  <validation-messages
    *ngIf="errorVisible && errors"
    [errors]="errors"
    [errorsDef]="errorsDef"
  ></validation-messages>
</mat-form-field>
<div *ngIf="type === 'editor'">
  <div>{{ placeholder }}</div>
  <br>
  <ckeditor 
    *ngIf="type === 'editor'"
    mat-form-field
    [config]="config"
    [(ngModel)]="value"
    [editor] ="getEditorInit"
    (blur)="onBlur()"
  ></ckeditor>

  <validation-messages
    *ngIf="errorVisible && errors"
    [errors]="errors"
    [errorsDef]="errorsDef"
  ></validation-messages>
</div>