<div class="flex-comp-container">
  <mat-card>
    <mat-card-title>Change Password</mat-card-title>
    <mat-card-content>
      <form [formGroup]="changePassForm" (ngSubmit)="onSubmit()">
        <form-input
          formControlName="oldPassword"
          [type]="'password'"
          [errors]="formControls.oldPassword.errors"
          [errorVisible]="submitted"
          [placeholder]="'Your old password'"
          [icon]="'lock'"
        ></form-input>

        <form-input
          formControlName="password"
          [type]="'password'"
          [errors]="formControls.password.errors"
          [errorVisible]="submitted"
          [placeholder]="'Your new password'"
          [icon]="'lock'"
        ></form-input>

        <form-input
          formControlName="confirmPassword"
          [type]="'password'"
          [errors]="formControls.confirmPassword.errors"
          [errorVisible]="submitted"
          [placeholder]="'Your confirmed password'"
          [icon]="'lock'"
        ></form-input>

        <button mat-raised-button [disabled]="loading" color="primary">
          <mat-icon><i class="material-icons md-dark">done</i></mat-icon>
          Submit
        </button>
       
      </form>
    </mat-card-content>
  </mat-card>
  <app-loading [visible]="loading"></app-loading>
</div>
